body {
    margin: 0; 
    height: 100vh; 
    width: 100vw; 
    background-color: purple; 
    font-family: Arial, sans-serif; 
    font-size: 3vw; 
    color: black; 
    display: flex; 
    justify-content: center; 
    align-items: center;
} 

#main-heading {
    position: absolute; 
    top: -5%; 
} 

#snake-simple-container {
    width:800px; 
    height: 600px; 
    border: 20px solid black; 
    z-index: 1; 
    background-color: white; 
}