body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: aliceblue;
}

.memory-game {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
}

.card { 
    width: 100px;
    height: 100px;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;
}
.card.flipped {
    background-color: ghostwhite;
}
header {
    height: -30px;
}